@using Core.Resources;

<div id="divPassword" class="alert alert-warning w-full" role="alert">
    <button type="button" class="close ml-0 float-left" onclick="$('#divPassword').slideUp();">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="col-12 p-0">
        <strong>@Resource.Alert !</strong>
        @Resource.PasswordMustHasTheFollowing
    </div>
    <ul class="row m-0 pt-3" style="padding:0 20px">
        <li class="col-12 col-md-6">
            @Resource.InEnglishLetters
        </li>
        <li class="col-12 col-md-6">
            @Resource.MinLength_6
        </li>
        <li class="col-12 col-md-6">
            @Resource.ContainAtLeastOneLetter
        </li>
        <li class="col-12 col-md-6">
            @Resource.ContainAtLeastOneDigit
        </li>
    </ul>
</div>