@using Core.Resources;
@using Microsoft.AspNetCore.Identity
@using Core.DTOs.Identity;
@inject UserManager<ApplicationUser> UserManager

@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
}


@RenderSection("styles", required: false)



<div class="outer-container menu-slider open-right">
    <div class="inner-container" style="background-color:#F3F5F9;">

        @*-----------  Header -----------*@
        <header class="header-menu text-center  mb-0">
            <div class="clearfix"></div>

            <div class="menu-container row align-items-center container mx-auto">
                <a asp-controller="Home" asp-action="Index" class="col-10 col-md-2 col-sm-8 text-center logos-container pr-0">

                        <img class="moe-logo" src="~/Images/Master/Activity.jpg" style="max-height:42px" />
                </a>
                <div class="col-2 col-md-10 col-sm-2 order-md-0 order-first p-0">
                    @Html.Partial("~/Views/Shared/_MenuHeader.cshtml")
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </header>




        @*-----------  Content -----------*@
        <div class="container-root">

            @RenderBody()

        </div>
        <div class="body-margin"></div>

        @*-----------  Footer -----------*@

    </div>
    <footer class="tetco-footer  clearfix">
        <div class="container">
            <div class=" m-0 row ">
                <div class="col-md-4 col-12 d-flex align-items-end pb-4 justify-content-center">
                    <a class="mx-1" href="#">سياسة الخصوصية</a>
                    <a class="mx-1" href="#">@Resource.Terms_Conditions </a>
                </div>
                <div class="col-md-4 col-12 text-center">
                        <img src="~/images/master/tetco.png" class="m-auto p-b-20 p-t-10 d-block" width="180" />
                    
                    <span></span>
                </div>
                <div class="col-md-4 col-12 d-flex align-items-end pb-4 justify-content-center">
                    <a class="mx-1" href="@Url.Action("Index","Contactus")">@Resource.TechSupport</a>
                    <a class="mx-1" href="#">@Resource.Terms_Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>
@section scripts{
    @RenderSection("scripts", required: false)
}