@model Core.DTOs.ForgotPasswordModel
@using Core;
@using Core.Resources;
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv

@{
    ViewData["Title"] = $"{Resource.Retrieval} {Resource.Password}";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
    string autoComplete = hostingEnv.EnvironmentName == "Development" ? "on" : "off";
}

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<div class="container home-container m-y-40" style="max-width:900px;margin:auto;">
    <h5 class="form-title p-y-10">@ViewData["Title"]</h5>
    <div class="w-full row m-0 form">

        <div class="alert alert-danger" role="alert" style="display:none">
            <button type="button" class="close float-left" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div id="failedMessage_ForgotPW">

            </div>
        </div>

        <form asp-controller="Account" asp-action="ForgotPassword" method="post" id="FormLogin" role="form" autocomplete="@autoComplete" style="width:100%">
            @await Html.PartialAsync("_Notification")
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row m-0">
                <div class="form-group col-12">
                    <label for="Input_Email">@Resource.Email</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = Resource.Email })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="col-12 text-end pt-3">
                    <button type="submit" class="tetco-btn outline">@Resource.Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section styles{
    <link href="~/css/Theme/Templates/home.css" rel="stylesheet" />
}
