@model Core.DTOs.ResetPasswordModel
@using Core;
@using Core.Resources;

@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@{
    ViewData["Title"] = Resource.ResetPassword;

    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
    string autoComplete = hostingEnv.EnvironmentName == "Development" ? "on" : "off";
}

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>



<div id="divResetPW" class="container home-container m-y-40" style="max-width:900px;margin:auto;">
    <h5 class="form-title p-y-10">@Resource.ResetPassword</h5>
    <div class="w-full row m-0 form">
        <form asp-controller="Account" asp-action="ResetPassword" method="post" role="form" autocomplete="@autoComplete">
            @await Html.PartialAsync("_Notification")
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row m-0">
                @await Html.PartialAsync("_PasswordRules")

                @Html.HiddenFor(x => x.Email)
                @Html.HiddenFor(x => x.Token)
                <div class="form-group col-12">
                    <label for="Input_Password">@Resource.Password</label>
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password", placeholder = Resource.Password })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-12">
                    <label for="Input_ConfirmPassword">@($"{Resource.Confirmation} {Resource.Password}")</label>
                    @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", @type = "password", placeHolder = $"{Resource.Confirmation} {Resource.Password}" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>

                <div class="col-12 text-end pt-3">
                    <button id="btnResetPW" type="submit" class="tetco-btn outline">@Resource.Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section styles{
    <link href="~/css/Theme/Templates/home.css" rel="stylesheet" />
}

<script type="text/javascript">

        $(function(){
            $("form").validate();
            $("form").on('submit', function (e) {
                var isvalid = $("form").valid();
                if (isvalid) {
                    e.preventDefault();
                    ResetPassword();
                    return false;
                }
            });
        });

        function ResetPassword() {

            showLoader();

            hideErrors('divMessages');

            var model = $('#divResetPW input').serialize();
            debugger;
            $.ajax({
                cache: false,
                crossDomain: true,
                type: "POST",
                url: '@Url.Action("ResetPassword", "Account")',
                data: model,
                success: function (data) {debugger

                    if (data.statusCode == '@((int)Enums.StatusCode.InvalidModel)')
                        displayErrors(data.validationErrors);

                    else if (data.statusCode == '@((int)Enums.StatusCode.OK)')
                        window.location.href = '@Url.Action("Login", "Account")';

                    hideLoader();
                },
                error: function (err) {
                    hideLoader();
                }
            });
        }

</script>

